@import "../../../assets/theme/_var.scss";

.main {
    background-color: black;

    .home {
        position: relative;

        :global {
            .container {
                max-width: 1920px;
            }
        }

        .row {
            display: flex;

            .col_left {
                width: 25%;

                h2 {
                    position: sticky;
                    top: 50vh;
                    font-family: $basefont;
                    font-size: 25px;
                    color: rgba(white, 0.6);
                }
            }
        }
    }
}